<!DOCTYPE html>
<html lang="en,ru">

<head>
  <title> Deployer </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Установщик</h1>
    <p>Выберите подходящего провайдера для вашего облака:</p>
    <form action="/" method="POST">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="cloudType" id="openstack" value="openstack">
        <label class="form-check-label" for="openstack">
          Openstack
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="cloudType" id="yc" value="yc">
        <label class="form-check-label" for="yc">
          YC
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="cloudType" id="vkc" value="vkc">
        <label class="form-check-label" for="vkc">
          VKCloud
        </label>
      </div>
      <br><br>
      <div id="openstackC" style="display: none">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">username</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="Username">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">password</span>
          <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="Password">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Project ID</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Check in identity project or use command 'openstack project list'" name="ProjectId">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Auth url</span>
          <input type="url" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Identity url from API access" name="AuthUrl">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
      <div id="ycC" style="display: none">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">token</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="Token">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">cloud</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="Cloud">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">folder</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="Folder">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
      <div id="vkcC" style="display: none">
        <p>Work in progress...</p>
      </div>
    </form>
  </div> <!-- /container -->

  <script>
    const openstackC = document.getElementById('openstackC');
    const ycC = document.getElementById('ycC');
    const vkcC = document.getElementById('vkcC');
    function handleRadioClick() {
      if (document.getElementById('openstack').checked) {
        openstackC.style.display = 'block';
        ycC.style.display = 'none';
        vkcC.style.display = 'none';
      } else if (document.getElementById('yc').checked) {
        openstackC.style.display = 'none';
        ycC.style.display = 'block';
        vkcC.style.display = 'none';
      } else if (document.getElementById('vkc').checked) {
        openstackC.style.display = 'none';
        ycC.style.display = 'none';
        vkcC.style.display = 'block';
      }
    }

    const radioButtons = document.querySelectorAll('input[name="cloudType"]');
    radioButtons.forEach(radio => {
      radio.addEventListener('click', handleRadioClick);
    });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>